<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>

    <add name="MantesisSql" connectionString="Data Source=CT9BD2;Initial Catalog=Mantesis;User Id=4cc3s01nf0;Password=Pr0gr4m4d0r3s" providerName="System.Data.SqlClient"/>

    <!--Conexión utilizada por el control de Informe de las Salas para acceder a la base de datos de la décima época-->
    <add name="accessMantesis" connectionString="Data Source=\\ct9iis2\Mant.BD\DECIMA.mdb; Provider=Microsoft.ACE.OLEDB.12.0"/>
    <add name="JuriSalas" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=JuriSalas.mdb;Jet OLEDB:System Database=C:\ius8.mda;User ID=desarrollo;Password=PROGRAMADORES;"/>

  <!--<add name="Libro" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\ModuloIntercomunicacionBD\LibroElectronico.accdb;Persist Security Info=False;"/>-->
    <add name="Libro" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\ctedi-25085-emc\BD\LibroElectronico.accdb;Persist Security Info=False;" />
  

  <add name="Directorio" connectionString="Data Source=SCSIJ04;Initial Catalog=CCST_DirectorioSJF;User Id=ccst_usrDirectorioSjf;Password=d3r2ct4r342016;" providerName="System.Data.Sql" />
  <add name="DirSemanarioApp" connectionString="Data Source=bovdesmidb1;Initial Catalog=mSJFXXI;User Id=appsjf;Password=123456qW;" providerName="System.Data.Sql" />
  </connectionStrings>


  <appSettings>
    <add key="ArchivosRespaldo" value="\\ctedi-25085-emc\ArchivosRespaldo\"/>
    
    <add key="RutaTxtErrorFile" value="C:\MensajesErrorSCJN\MensajesErrorLibroElectronico.txt"/>
    <add key="ErrorPath" value="C:\MensajesErrorSCJN"/>
  </appSettings>
</configuration>